<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Miracle码号
{% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}
{% load widget_tweaks %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>序号</th>
            <th>任务名称</th>
            <th>任务内容</th>
            <th data-formatter="displaycolor"><span>任务状态</span></th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
{% for task in tasks %}
        <tr>
            <td>
{{ forloop.counter }}
            </td>
            <td>
{{ task.name }}
            </td>
            <td>
{{ task.content }}
            </td>
            {% if task.get_status_display == "未开始" %}
            <td style="color: red">
            {%elif task.get_status_display == "进行中" %}
            <td style="color: orange">
            {%elif task.get_status_display == "已完成" %}
            <td style="color: green">
            {% else %}
            <td>
            {%endif%}

                <span>{{ task.get_status_display }}</span>
            </td>
            <td>
         (<a href="{% url 'tasks:task_detail' task.id %}">查看</a> | <a href="{% url 'tasks:task_update' task.id %}">修改</a> |
         <a href="{% url 'tasks:task_delete' task.id %}">删除</a>)
            </td>
{% endfor %}
        </tr>
    </tbody>
</table>
{% if is_paginated %}
     <ul class="pagination">
{% if page_obj.has_previous %}
         <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo;</a></li>
{% else %}
         <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
{% endif %}

         {% for i in paginator.page_range %}
         {% if page_obj.number == i %}
         <li class="page-item active"><span class="page-link"> {{ i }} <span class="sr-only">(current)</span></span></li>
{% else %}
               <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
{% endif %}
         {% endfor %}

         {% if page_obj.has_next %}
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
{% else %}
         <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
{% endif %}
     </ul>
{% endif %}
<p>总计：{{tasks.count}} 个记录</p>

 <p> <a href="{% url 'tasks:task_create' %}">新增任务</a></p>
{% endblock content %}