<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="img-fluid" src="/static/images/Miracle-Logo-1.png" width="100%" height="225">
                        <div class="card-body">
                            <h4 class="card-title text-center text-success">10种电话终端  <i class="bi-alarm"></i></h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-dark ">View</button>
                                    <button type="button" class="btn btn-warning ">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="img-fluid" src="/static/images/Miracle-Logo-1.png" width="100%" height="225">

                        <div class="card-body">
                            <h4 class="card-title text-center text-primary">7种办公电话应用  <i class="bi-flag"></i></h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-dark ">View</button>
                                    <button type="button" class="btn btn-warning ">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="img-fluid" src="/static/images/Miracle-Logo-1.png" width="100%" height="225">

                        <div class="card-body">
                            <h4 class="card-title text-center text-danger">333个城市固话号码  <i class="bi-globe2"></i></h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-dark ">View</button>
                                    <button type="button" class="btn btn-warning ">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}